*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-bg: #181A1E;
    --color-surface: #1e293b;
    --color-text: #e5e7eb;
    --color-primary: #324098;
    --color-border: #646cff;
    --color-button: #12151D;
}

[data-theme="light"]{

    --color-bg: #ffffff;
    --color-surface: #f1f5f9;
    --color-text: #0f172a;
    --color-primary: #324098;
    --color-button: #ffffff;

}

a {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: inherit;
}
a:hover {
    color: var(--color-border);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: var(--color-bg);
    color: var(--color-text);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

#app {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-button);
    color: var(--color-text);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: var(--color-border);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

